<template>
  <div class="postslist">
    <PostsListHeader/>
    <Posts v-for="post in postsData" v-bind:key="post" :body="post.body" :title="post.title" :id="post.id" :userId="post.userId"
    />
  </div>
</template>

<script>
  import Posts from './Posts.vue'
  import PostsListHeader from './PostsListHeader.vue'

  export default {
    name: 'PostsList',
    components: {
      Posts,
      PostsListHeader
    },
    computed: {
      postsData() {
        return this.$store.state.posts
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .posts {
    display: inline-block;
    margin: 10px auto;
    padding: 10px;
    width: 400px;
    margin: 1em;
    background: rgb(224, 227, 231);
    border: solid;
    vertical-align: middle;
    border-radius: 10px 20px 5px 10px;
  }

  .postslist {
    text-align: center;
  }
</style>