<template>
  <div class="postslistheader">
    <label>Maximum posts:<select v-model="nb_max" name="nb_max">
        <option>10</option>
        <option>25</option>
        <option selected=selected>50</option>
        <option>100</option>
      </select>
    </label>
    <label>Sort by:<select v-model="sorted_by" name="sorted_by">
        <option selected=selected>title</option>
        <option>userId</option>
        <option>id</option>
        <option>body</option>
      </select>
    </label>
    <label>Sort direction:<select v-model="sort_way" name="sort_way">
        <option>None</option>
        <option selected=selected>asc</option>
        <option>desc</option>
      </select>
    </label>
    <button @click="search">Search</button>
  </div>
</template>

<script>
  export default {
    name: 'Posts',
    data: function () {
      return {
        nb_max: 50,
        sorted_by: "title",
        sort_way: "asc"
      };
    },
    methods: {
      search() {
        this.$http.get(this.$store.state.config.serverUrl + '/posts', { params: { nb_max: this.nb_max, sorted_by: this.sorted_by, sort_way: this.sort_way } })
          .then(response => {
            this.$store.commit('setPosts', response.body.content)
          })
      }
    }, mounted() {
      this.search();
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  label {
    color: rgb(224, 227, 231);
  }

  select {
    margin: 10px;
  }
</style>