<template>
  <div class="posts">
    <h1>{{ title }}</h1>
    <p>
      {{ body }}
    </p>

    <div class="ids">
      <h2 class="idUser">User: {{ userId }}</h2>
      <h2 class="id">Id: {{ id }}</h2>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Posts',
    props: {
      title: String,
      userId: String,
      id: String,
      body: String

    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .ids {
    display: inline-block;
    width: 100%;
  }

  .id {
    float: right;
  }

  .idUser {
    float: left;
  }
</style>