<template>
  <div id="app">
    <PostsList/>
  </div>
</template>

<script>
  import PostsList from './components/PostsList.vue'

  export default {
    name: 'app',
    components: {
      PostsList
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  #app {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: rgb(20, 84, 180);
    background: rgb(20, 84, 180);
  }

  h1 {
    font-size: 20px;
    text-align: right;
  }

  h2 {
    font-size: 14px;
  }

  p {
    font-size: 16px;
    text-align: left;
  }
</style>